<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/markdown-github.css">
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
  <div class="row">
    <div class="col-md-9">
      {{ if !topic }}
      <div class="alert alert-danger" role="alert">此话题不存在或已被删除。</div>
      {{ else }}
      <article class="markdown-body">
      <h1 id="_1"><a name="user-content-_1" href="#_1" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>{{ topic.title }}</h1>
      <p> 发布于 几秒前  作者 lipengzhou  1 次浏览  来自 客户端测试</p>
      {{ if use && topic.userId === use.id }}
      <p>
        <a href="/topic/{{ topic.id }}/edit">编辑</a>
        <a id="delete" href="/topic/{{ topic.id }}/edit">删除</a>
      </p>
      {{ /if }}
      <hr>
    
      <div>{{ topic.content }}</div>
      {{ /if }}
    </article>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>lipengzhou</span> commented 
          <span>24 minutes ago</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          评论测试
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>lipengzhou</span> commented 
          <span>24 minutes ago</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          评论测试
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>lipengzhou</span> commented 
          <span>24 minutes ago</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          评论测试
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>lipengzhou</span> commented 
          <span>24 minutes ago</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          评论测试
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>lipengzhou</span> commented 
          <span>24 minutes ago</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          评论测试
        </div>
      </div>
      <hr>
      <form>
        <div class="form-group">
          <label for="exampleInputPassword1">添加回复</label>
          <textarea class="form-control" name="" id="" cols="10" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-success">回复</button>
      </form>
    </div>
  </div>
</section>
  {{include '../_includes/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script>
    $('#delete').on('click', function (e) {
      e.preventDefault()
      if (!window.confirm('Are you ok?')) {
        return
      }
      var url = $(this).attr('href')
      $.post(url, function (data) {
        switch(data.code) {
          case 0:
            window.location.href = '/'
            break
          case 1:
            window.alert('该资源不存在或已被删除')
            break
          case 2:
            window.alert('对不起，您没有权限执行该操作！')
            break
        }
      })
    })
  </script>
</body>

</html>
